<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandoMice</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Exo:500' rel='stylesheet' type='text/css'>

    <script src="../scripts/loading.js"></script>
</head>
<body>
<div class="display">
    <div class="loading-background">
        <h2>Randomice</h2>

        <div class="loading-image">
            <img id="img1" src="../images/mouse.png" height="110" width="110">
            <script type="text/javascript">rotateAnimation("img1", 8);</script>
            <h4 id="status"></h4>
        </div>
    </div>
</div>
</body>
</html>