<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandoMice</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css"/>
    <link rel="stylesheet" href="../styles/login.css"/>
</head>
<body>


<div class="display">
    <div class="menubar">
        <div class="row">
            <div class="col-xs-6">
                <img class="brand" src="../images/mousehead.png" alt=""/>
                Randomice
            </div>

        </div>
    </div>
    <div class="login-image">
        <div class="buttonsLogin">
            <div class="social-wrap a">
                <button class="login-btn" id="facebook">
                    <a href="MainView.html">Sign in with Facebook</a>
                </button>
                <button class="login-btn" id="googleplus">
                    <a href="MainView.html">Sign in with Google</a>
                </button>
            </div>

            <img class="outlines" src="../images/mouseheadoutlines.png" alt=""/>
        </div>

    </div>
</div>
</div>
</body>
</html>