<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandoMice</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css"/>
    <link rel="stylesheet" href="../styles/hamburger-style.css">
    <script src="../scripts/hamburger.js"></script>
    <script src="../scripts/jquery-2.1.4.js"></script>
</head>
<body>
<div class="display">
    <div class="menubar">
        <div class="row">
            <div class="col-xs-6">
                <img class="brand" src="../images/mousehead.png" alt=""/>
                Randomice
            </div>
            <div class="col-xs-6 right">
                <button class="btn menu-btn" onclick="hamburgerShow()">&#9776;</button>
            </div>
        </div>
    </div>

    <div class="cover">
        <div class="cover_image"></div>

        <div class="profile_image"></div>
    </div>

    <div class="main-body">
        <div class="dark_layer"></div>
        <p class="name">Francis Duero</p>

        <div class="user-input">
            <label id="xtrStatus" for="scale">How extreme are you? Semi</label>

            <input id="scale" type="range" class="slider" name="scale" min="0" max="2"
                   onchange="setExtremeValue(this.value)">

            <button type="button" class="btn main-btn" onclick="moveToEvent()">
                <img class="buttonMouse" src="../images/cowboymousehead.png" alt="">
            </button>
        </div>

    </div>
</div>
<nav class="hamburger-menu offScreen" id="hamburgerMenu">
    <div class="blockMenu">
        <div class="row">
            <div class="col-xs-6">
                <img class="brand" src="../images/mousehead.png" alt=""/>
                Menu
            </div>
            <div class="col-xs-6 right">
                <button class="btn menu-btn" onclick="hamburgerShow()">&#9776;</button>
            </div>
        </div>
    </div>

    <div class="blockMenu">
        <div class="row">
            <div class="col-xs-6">
                <p class="item-title">Walk</p>
            </div>
            <div class="col-xs-6 right">
                <div class="checkboxOne">
                    <input type="checkbox" value="1" id="checkboxOneInput" class="check" name=""/>
                    <label for="checkboxOneInput"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="blockMenu">
        <div class="row">
            <div class="col-xs-6">
                <p class="item-title">Drive</p>
            </div>
            <div class="col-xs-6 right">
                <div class="checkboxOne">
                    <input type="checkbox" value="1" id="checkboxOneInput2" class="check" name=""/>
                    <label for="checkboxOneInput2"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="blockMenu">
        <div class="row">
            <div class="col-xs-6">
                <p class="item-title">Date</p>
            </div>
            <div class="col-xs-6 right datePicker">
                <input type="date" class="hamburgerDate" name="date">
                <input type="date" class="hamburgerDate" name="date">
            </div>
        </div>
    </div>

    <div class="blockMenu">
        <div class="row">
            <div class="col-xs-6">
                <p class="item-title">Price</p>
            </div>
            <div class="col-xs-6 right">
                <!--<p>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider-range"></div>-->
                <section class="range-slider">
                    <span class="rangeValues"></span>
                    <input class="rangeMenu" value="0" min="0" max="10000" step="2000" type="range">
                    <input class="rangeMenu" value="20000" min="0" max="20000" step="2000" type="range">
                </section>
                <!--Rest of code is here->  http://stackoverflow.com/questions/4753946/html5-form-slider-with-two-inputs-possible -->
            </div>
        </div>
    </div>
</nav>

<script src="../scripts/random.js"></script>

</body>
</html>