<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandoMice</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css"/>
    <script src="../scripts/jquery-2.1.4.js"></script>
</head>
<body>
<div class="display">
    <div class="menubar">
        <div class="row">
            <div class="col-xs-6">
                <a href="MainView.html" ><img class="brand" src="../images/mousehead.png" alt=""/></a>
                Randomice
            </div>
        </div>
    </div>

    <div class="cover">
        <div class="cover_image"></div>
    </div>

    <div class="event-body">
        <div class="dark_layer"></div>
        <p class="name">Paintball</p>

        <p class="text">Wanna burst some balls!? Go paintballing!!
        </p>

        <div class="user-input">
            <a href="http://paintball.is/" type="button" class="btn main-btn">Do it</a>
        </div>

    </div>

    <script>
        $('.cover_image').css('background', 'url(../images/paintball.jpg) no-repeat');
        $('.cover_image').css('background-size', 'cover');
        $('.event-body').css('background-image', 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/paintball_background.jpg)');
    </script>
</div>
</body>
</html>