.blockMenu p {
    vertical-align: middle;
    margin: 0;
}

.datePicker {
    left: -90px;
    font-weight: 200;
}

/**
 * Create the slider bar
 */
.checkboxOne {
    width: 40px;
    height: 10px;
    background: #483652;
    margin: 20px 80px;
    position: relative;
    border-radius: 3px;
}

input[type=checkbox] {
    visibility: hidden;
}

/**
 * Move the slider in the correct position if the checkbox is clicked
 */
.checkboxOne input[type=checkbox]:checked + label {
    left: 27px;
}

/**
 * Create the slider from the label
 */
.checkboxOne label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 20%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: white;
}

/*******menu-date******************************************/

input[type=date] {
    color: black;
    padding-left: 1em;
    width: 220px;
    border-radius: 2%;
}

/*******the menu******************************/

.hamburger-menu {
    display: block;
    font-family: "Exo", sans-serif;
    background-color: #9D0FE6;
}

.hamburger-menu .item-title {
    font-weight: 200;
}

.blockMenu {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border: 0.1em solid black;
}

.hamburger-menu .blockMenu .blockName {
    display: inline-block;
}

.hamburger-menu .blockMenu .checkboxOne {
    display: inline-block;
}

/******** animations *********/

.onScreen {
    max-height: 400px;

    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}

.offScreen {
    overflow: hidden;
    max-height: 0;

    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}