.blockMenu p {
    vertical-align: middle;
    margin: 0;
}

.datePicker {
    left: -90px;
    font-weight: 200;
}

/**
 * Create the slider bar
 */
.checkboxOne {
    width: 40px;
    height: 10px;
    background: #483652;
    margin: 20px 80px;
    position: relative;
    border-radius: 3px;
}

input[type=checkbox] {
    visibility: hidden;
}

/**
 * Move the slider in the correct position if the checkbox is clicked
 */
.checkboxOne input[type=checkbox]:checked + label {
    left: 27px;
}

/**
 * Create the slider from the label
 */
.checkboxOne label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 20%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: white;
}

/*******menu-date******************************************/

input[type=date] {
    color: black;
    padding-left: 1em;
    width: 220px;
    border-radius: 2%;
}

/*******the menu******************************/

.hamburger-menu {
    display: block;
    font-family: "Exo", sans-serif;
    background-color: #9D0FE6;
    z-index: 20;
}

.hamburger-menu .item-title {
    font-weight: 200;
}

.blockMenu {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border: 0.1em solid black;
}

.hamburger-menu .blockMenu .blockName {
    display: inline-block;
}

.hamburger-menu .blockMenu .checkboxOne {
    display: inline-block;
}

.rangeMenu {
    background: #483652;
}

.hamburger-menu .rangeMenu::-webkit-slider-thumb {
    background-color: white;
}

section.range-slider {
    position: relative;
    text-align: center;
    height: 3em;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    right: 1.8em;
    top: 1.5em;
    width: 10em;
    outline: none;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.range-slider > .rangeValues {
    font-weight: 200;
}

/******** animations *********/

.onScreen {
    max-height: 400px;

    -webkit-transition: max-height 100ms ease;
    -moz-transition: max-height 100ms ease;
    -o-transition: max-height 100ms ease;
    transition: max-height 100ms ease;

}

.offScreen {
    overflow: hidden;
    max-height: 0;

    -webkit-transition: max-height 100ms ease;
    -moz-transition: max-height 100ms ease;
    -o-transition: max-height 100ms ease;
    transition: max-height 100ms ease;
}