.blockMenu p {
    vertical-align: middle;
    margin: 0;
}

.datepicker {
    left: -90px;
    font-weight: 200;
}

/**
 * Create the slider bar
 */
.checkboxOne {
    width: 40px;
    height: 10px;
    background: #483652;
    margin: 20px 80px;
    position: relative;
    border-radius: 3px;
}

input[type=checkbox] {
    visibility: hidden;
}

/**
 * Move the slider in the correct position if the checkbox is clicked
 */
.checkboxOne input[type=checkbox]:checked + label {
    left: 27px;
}

/**
 * Create the slider from the label
 */
.checkboxOne label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 20%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: white;
}

/*******menu-date******************************************/

input[type=date] {
    color: black;
    padding-left: 1em;
    width: 220px;
    border-radius: 2%;
}

/*******the menu******************************/

.hammy-menu {
    display: block;
    font-family: "Exo", sans-serif;
    background-color: #9D0FE6;
    top: -375px;
}

.hammy-menu .item-title {
    font-weight: 200;
}

.blockMenu {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border: 0.1em solid black;
}

.hammy-menu .blockMenu .blockName {
    display: inline-block;
}

.hammy-menu .blockMenu .checkboxOne {
    display: inline-block;
}

/******** animations *********/

.onScreen {
    animation: menuAnimation 1s forwards;
    -webkit-animation: menuAnimation 1s forwards;
}

.offScreen {
    animation: menuAnimation 1s reverse;
    -webkit-animation: menuAnimation 1s reverse;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menuAnimation {
    0%   { left:0px; top:-375px; }
    100% { left:0px; top:0px; }
}

/* Standard syntax */
@keyframes menuAnimation {
    0%   { left:0px; top:-375px; }
    100% { left:0px; top:0px; }
}