@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

div.social-wrap button {
    padding-right: 45px;
    height: 40px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

button#twitter {
    border-color: #007aa6;
    background-color: #008cbf;
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}

button#googleplus {
    border-color: rgba(178, 7, 22, 0.87);
    background-color: rgba(178, 7, 22, 0.87);
    /*background-image: url(http://i.tinyuploads.com/KBZc6n.png);*/
    width: 200px;
}

div.social-wrap button:active {
    background-color: #222;
}

div.social-wrap.b button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div.social-wrap.b {
}

div.social-wrap.b > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));;
}

div.social-wrap.b > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
}

div.social-wrap.b > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));;
}

div.social-wrap.b button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}

div.social-wrap.c button {
    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div.social-wrap.c {
}

div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));;
}

div.social-wrap.c > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
}

div.social-wrap.c > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));;
}

div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}

ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}

ul.sm-wrap li {
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

ul.sm-wrap li#twitter-sm {
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}

ul.sm-wrap li#gplus-sm {
    background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

ul.sm-wrap a {
    text-decoration: none;
}

.buttonsLogin {
    width: 205px;
    margin: 0 auto;
    padding-top: 200px;
}

.login-image {
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0,.6)), url("../images/adventure.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 612px;
}