@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300|Roboto:700,400);
@import url(https://fonts.googleapis.com/css?family=Exo:400,100,500,700);

body {
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    width: 375px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.display {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: white
}

.row {
    padding: 10px;
}

.col-xs-6 {
    font-size: 16pt;
    font-weight: 700;
}

.menubar {
    background-color: #9D0FE6;
    color: white;
    height: 55px;
}

.right {
    text-align: right;
}

.brand {
    width: 1.5em;
}

.cover_image {
    background: url("../images/cover.jpg") no-repeat;
    background-size: cover;
    height: 220px;
    border-bottom: 2px solid #8700ff;
}

.profile_image {
    background: url("../images/person.jpg") no-repeat;
    background-size: cover;
    height: 6em;
    width: 6em;
    border: 2px solid #8700ff;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -35px;
    position: absolute;
    z-index: 1;
}

.cover_image {
    background-size: cover;
    height: 220px;
    border-bottom: 2px solid #8700ff;
}

.main-body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg") no-repeat;
    background-size: cover;
    height: 392px;
    color: white;
    position: relative;
}

.event-body {
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 392px;
    color: white;
    position: relative;
}

.dark_layer {
    background-color: #434343;
}

.name {
    text-align: center;
    font-weight: 500;
    font-size: 16pt;
}

.text {
    margin: 0 50px;
    padding-top: 0.313em;
    font-weight: 500;
    font-size: 8pt;
}

.input-container {
    width: 60%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.user-input {
    width: 60%;
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.slider {
    margin-bottom: 70px;
}

.menu-btn {
    background-color: #9D0FE6;
    font-size: 20pt;
    padding: 0;
    margin-top: -3px;
}

.main-btn {
    background-color: #9D0FE6;
    color: white;
    font-size: 24pt;
    margin: 0 auto;
    width: 100%;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.main-btn .buttonMouse {
    height: 150px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 1.5em 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border-radius: 1px;
}

#scale {
    background: #9d0fe6;
}

#scale::-webkit-slider-thumb {
    background: #9d0fe6;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 26px;
    width: 33px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.05px;
}

#scale:focus::-webkit-slider-runnable-track {
    background: #a91ef0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #9d0fe6;
    border-radius: 1px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 26px;
    width: 33px;
    border-radius: 3px;
    background: #9d0fe6;
    cursor: pointer;
}

.loading-background {
    background: #9d0fe6;
    height: inherit;
}

h2 {
    margin: auto;
    text-align: center;
    padding-top: 1em;
}

.loading-image {
    margin-left: 124px;
    margin-top: 181px;
}

.rotated {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-timing-function: ease;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: ease;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(720deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}