@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300|Roboto:700,400);
@import url(https://fonts.googleapis.com/css?family=Exo:400,100,500,700);

body {
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.hammy-menu {
    position: absolute;
    top: 0;
    width: 375px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.display {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: white
}

.row {
    padding: 10px;
}

.col-xs-6 {
    font-size: 16pt;
    font-weight: 700;
}

.menubar {
    background-color: #9D0FE6;
    color: white;
    height: 55px;
}

.right {
    text-align: right;
}

.brand {
    width: 1.5em;
}

.cover_image {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    border-bottom: 2px solid #8700ff;
}

.profile_image {
    background-image: url("../images/person.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 6em;
    width: 6em;
    border: 2px solid #8700ff;
    border-radius: 50%;
    margin-left: 1.25em;
    margin-top: -2.5em;
    position: absolute;
}

.cover_image {
    background-size: cover;
    height: 220px;
    border-bottom: 2px solid #8700ff;
}

.main-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 392px;
    color: white;
}

.event-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 392px;
    color: white;
}

.dark_layer {
    background-color: #434343;
}

.name {
    margin-left: 7em;
    padding-top: 0.313em;
    font-weight: 500;
    font-size: 12pt;
}

.text {
    margin-left: 7em;
    margin-right: 7em;
    padding-top: 0.313em;
    font-weight: 500;
    font-size: 8pt;
}

.user-input {
    width: 60%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    margin-bottom: 70px;
}

.menu-btn {
    background-color: #9D0FE6;
    font-size: 20pt;
    padding: 0;
    margin-top: -3px;
}

.main-btn {
    background-color: #9D0FE6;
    color: white;
    font-size: 24pt;
    margin: 0 auto;
    height: 5em;
    width: 100%;
}

.main-btn .buttonMouse {
    height: 5.1em;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 1.5em 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.7px;
    cursor: pointer;
    box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
    border-radius: 1.3px;
    border: 1.9px solid rgba(0, 1, 1, 0.89);
}

#scale {
    background: #9d0fe6;
}

#scale::-webkit-slider-thumb {
    background: #9d0fe6;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.4px 0.4px 0.3px rgba(0, 0, 0, 0.19), 0px 0px 0.4px rgba(13, 13, 13, 0.19);
    border: 1px solid #000000;
    height: 26px;
    width: 33px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.05px;
}

#scale:focus::-webkit-slider-runnable-track {
    background: #a91ef0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.7px;
    cursor: pointer;
    box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
    background: #9d0fe6;
    border-radius: 1.3px;
    border: 1.9px solid rgba(0, 1, 1, 0.89);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0.4px 0.4px 0.3px rgba(0, 0, 0, 0.19), 0px 0px 0.4px rgba(13, 13, 13, 0.19);
    border: 1px solid #000000;
    height: 26px;
    width: 33px;
    border-radius: 3px;
    background: #9d0fe6;
    cursor: pointer;
}

/*input[type=range]::-ms-track {
  width: 100%;
  height: 11.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8d0dce;
  border: 1.9px solid rgba(0, 1, 1, 0.89);
  border-radius: 2.6px;
  box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #9d0fe6;
  border: 1.9px solid rgba(0, 1, 1, 0.89);
  border-radius: 2.6px;
  box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.4px 0.4px 0.3px rgba(0, 0, 0, 0.19), 0px 0px 0.4px rgba(13, 13, 13, 0.19);
  border: 1px solid #000000;
  height: 26px;
  width: 33px;
  border-radius: 3px;
  background: #9d0fe6;
  cursor: pointer;
  height: 11.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9d0fe6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a91ef0;
}*/

.loading-background {
    background: #9d0fe6;
    height: inherit;
}

h2 {
    margin: auto;
    text-align: center;
    padding-top: 1em;
}

.loading-image {
    margin-left: 124px;
    margin-top: 181px;
}

.rotated {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}